@import '../../scss/shared.scss';

header {
    z-index: 5;
    position: absolute;
    top: 0px; left: 0px; right: 0px;
    width: 100vw;
    height: 75px;
    padding: 0px $content-padding;

    .content {
        position: relative;
        text-transform: uppercase;
        color: #fff;

        .logo {
            position: relative;
            padding-bottom: 20px;

            font-size: 26px;
            font-weight: 600;
            line-height: 55px;

            .subtitle {
                position: absolute;
                left: 0px; bottom: 0px;

                font-size: 16px;
                font-weight: 400;
            }
        }

        nav {
            position: absolute;
            top: 0px; right: 0px;
            height: 75px;

            line-height: 75px;
            user-select: none;

            a {
                display: inline-block;
                margin-left: $content-padding;

                font-size: 1.15rem;

                &.button {
                    margin: 15px 0px 15px $content-padding;
                    padding: 0px 15px;

                    border-radius: $content-padding;

                    line-height: 45px;
                    transition: 250ms all;

                    &.twitch {
                        background: #6441A4;

                        &:hover {
                            background: rgb(111, 72, 184);
                        }
                    }

                    &.youtube {
                        background: #c4302b;

                        &:hover {
                            background: rgb(224, 55, 49);
                        }
                    }

                    &.discord {
                        background: #7289DA;

                        &:hover {
                            background: rgb(123, 148, 236);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        height: 75px;
    }
}